body{
    background-color: cornflowerblue;
}
.navbar-custom{
    background-color: darkblue;
}
.navbar-toggler-icon{
    background-color: cornflowerblue;
}
.navbar-brand{
    color: cornflowerblue;
}
.nav-link{
    color:cornflowerblue
}
.nav-item.active{
    background-color:gainsboro;
}
hr{
    border-top: 3px double black
}
.container{
    background-color: royalblue;
    max-width: 765px;
}
.row{
    background-color:royalblue;
}
.col-md-3{
    background-color:royalblue;
}
.col-md-9{
    background-color: royalblue;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
  .p{
      word-wrap: break-word;
  }
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: cornflowerblue;
  text-align: center;
}