body{
    background-color: lightslategrey;
}
.container{
    background-color: white;
    max-width: 765px;
}
.row{
    background-color:white;
}
.col-md-3{
    background-color:white;
}
.col-md-9{
    background-color: white;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
  .p{
      word-wrap: break-word;
  }
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}